<po-page-default p-title="Coleção">
    <div class="content">
        <div class="card">
            <po-container class="po-p-3 card">
                <po-widget class="po-lg-12 po-mb-1 ">
                    <div class="po-font-subtitle po-text-center">Pegunta X</div>
                </po-widget>

                <po-widget class="po-lg-12 po-mb-1 ">
                    <div class="po-font-subtitle po-text-center">Resposta X</div>
                </po-widget>
            </po-container>
        </div>
    </div>
</po-page-default>
