<po-page-default p-title="Coleção">
    <div class="content">
        <div class="card">
            <po-container class="po-p-3 card">
                <po-widget class="po-lg-12 po-mb-1 ">
                    <div class="po-font-subtitle po-text-center">Pegunta X</div>
                </po-widget>

                <div class="button">
                    <po-button
                            class="po-m-1"
                            p-label="Mostrar Resposta"
                    ></po-button>
                </div>

                <po-widget class="po-lg-12 po-mb-1 ">
                    <div class="po-font-subtitle po-text-center">Resposta X</div>
                </po-widget>

                <div class="button">
                    <po-button
                            class="po-m-1"
                            p-label="Acertei"
                    ></po-button>
                    <po-button
                            class="po-m-1"
                            p-label="Errei"
                    ></po-button>
                </div>
            </po-container>
        </div>
    </div>
</po-page-default>
