<po-page-default p-title="Documentos" class="po-lg-12">
    <po-widget class="po-lg-3 po-mb-1" p-title="Documento 1">
      <div class="po-font-subtitle po-text-center">Descrição</div>
    </po-widget>

    <po-widget class="po-lg-3 po-mb-1" p-title="Most viewed page">
      <div class="po-font-subtitle po-text-center">300 views</div>
    </po-widget>

    <po-widget class="po-lg-3 po-mb-1" p-title="Website status">
      <div class="po-font-subtitle po-text-center">Online</div>
    </po-widget>

    <po-widget class="po-lg-3 po-mb-1" p-title="NPM downloads">
      <div class="po-font-subtitle po-text-center">266</div>
    </po-widget>

    <po-widget class="po-lg-3 po-mb-1" p-title="Devforum PO questions">
      <div class="po-font-subtitle po-text-center">800 questions</div>
    </po-widget>

    <po-widget class="po-lg-3 po-mb-1" p-title="Angular versions supported">
      <div class="po-font-subtitle po-text-center">AngularJS - Angular 7</div>
    </po-widget>
</po-page-default>
