<po-page-default p-title="Documentos" class="po-lg-12">
  <div class="po-row botao">
    <po-button
      class="po-md-1"
      p-label="Novo"
    ></po-button>
  </div>
  <po-widget class="po-lg-2 po-mb-1 " p-title="Documento 1" (p-click)="openDocument()" [p-height]="height">
  </po-widget>

  <po-widget class="po-lg-2 po-mb-1" p-title="Most viewed page" (p-click)="openDocument()"[p-height]="height">
  </po-widget>

  <po-widget class="po-lg-2 po-mb-1" p-title="Website status" (p-click)="openDocument()"[p-height]="height">
  </po-widget>

  <po-widget class="po-lg-2 po-mb-1" p-title="NPM downloads" (p-click)="openDocument()"[p-height]="height">
  </po-widget>

  <po-widget class="po-lg-2 po-mb-1" p-title="Devforum PO questions" (p-click)="openDocument()"[p-height]="height">
  </po-widget>

  <po-widget class="po-lg-2 po-mb-1" p-title="Angular versions supported" (p-click)="openDocument()"[p-height]="height">
  </po-widget>
</po-page-default>
