<po-page-default [p-title]="document.title">
  <div class="po-row">
    <po-button
      class="po-md-1"
      p-label="Salvar"
      (p-click)="updateDocument()"
    ></po-button>
    <po-button
      class="po-md-1"
      p-label="Gerar"
      (p-click)="openModal()"
    ></po-button>

  </div>
  <po-container class="po-p-3">
    <div>
      <ckeditor
        [editor]="editor"
        [config]="config"
        [(ngModel)]="document.content"
        (change)="onContentChange($event)"
        style="height: 500px;">
      </ckeditor>
    </div>
  </po-container>
</po-page-default>


<po-modal #modal p-title="Gerar Flash Cards">
  <po-select
    name="select"
    p-label="Coleção"
    [p-options]="options"
    (p-change)="onChange($event)"
  >
  </po-select>
  <po-modal-footer [p-disabled-align]="false">
    <po-button p-kind="primary" p-label="Gerar" (p-click)="generateFlashCardFromSelection()"></po-button>
  </po-modal-footer>
</po-modal>

<div>
  <po-loading-overlay [hidden]="!loading"></po-loading-overlay>
</div>
