<po-page-default p-title="{{collection.title}}">
  <div class="po-row botao">
    <po-button class="po-md-1" p-label="Salvar" (p-click)="save()"></po-button>
  </div>
  <div class="content">
    <div class="card">
      <po-container class="po-p-3 card">

        <div class="botoes">
          <po-button class="po-m-1" p-icon="ph ph-plus" (p-click)="createCard()"></po-button>
          <po-button class="po-m-1" p-icon="ph ph-trash" (p-click)="deleteCard()"></po-button>
        </div>

        <ng-container *ngIf="collection.flashCards.length > 0 && collection.flashCards[currentCard]">
          <po-textarea
            class="po-lg-12 po-mb-1"
            p-label="Pergunta"
            [(ngModel)]="collection.flashCards[currentCard].front"
            p-placeholder="Digite a pergunta"
          ></po-textarea>

          <po-textarea
            class="po-lg-12 po-mb-1"
            p-label="Resposta"
            [(ngModel)]="collection.flashCards[currentCard].back"
            p-placeholder="Digite a resposta"
          ></po-textarea>
        </ng-container>

        <div class="button">
          <po-button class="po-m-1" p-icon="ph ph-arrow-left" (p-click)="left()"></po-button>
          <po-button class="po-m-1" p-icon="ph ph-arrow-right" (p-click)="right()"></po-button>
        </div>

      </po-container>
    </div>
  </div>
</po-page-default>
