<po-page-default p-title="Coleção">
  <div class="po-row botao">
    <po-button class="po-md-1" p-label="Salvar"></po-button>
  </div>
  <div class="content">
    <div class="card">
      <po-container class="po-p-3 card">
        <po-textarea
          class="po-lg-12 po-mb-1"
          p-label="Pergunta"
          [(ngModel)]="answer"
          p-placeholder="Digite a pergunta"
        ></po-textarea>

        <po-textarea
          class="po-lg-12 po-mb-1"
          p-label="Resposta"
          [(ngModel)]="response"
          p-placeholder="Digite a resposta"
        ></po-textarea>

        <div class="button">
          <po-button class="po-m-1" p-icon="ph ph-arrow-left"></po-button>
          <po-button class="po-m-1" p-icon="ph ph-arrow-right"></po-button>
        </div>

      </po-container>
    </div>
  </div>
</po-page-default>
